@import "tailwindcss";

:root {
  color-scheme: light;
  --background: #ffffff;
  --foreground: #171717;
  --primary: #ff950a;
  --primary-foreground: #171717;
  --secondary: #640212;
  --secondary-foreground: #ffffff;
  --tertiary: #f4f6f6;
  --tertiary-foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-tertiary: var(--tertiary);
  --color-tertiary-foreground: var(--tertiary-foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
